.header{
    height: 80px;
    background-color: rgb(10, 10, 87);
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.header-left{
    padding-left: 50px;
}

.header-right{
    padding-right: 60px;
    padding-top: 10px;
    display: flex;
}
.link{
    text-decoration: none;
    color: aliceblue;
}

.profile-icon{
    width: 70px;
}

.user-icon{
    width: 60px;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
thead{
    background-color: rgb(10, 10, 87);
    color: #fff;
}

table th{
    padding: 10px 20px;
}

table td{
    padding: 10px 20px;
}